/* General Reset */
* {
    margin: 0;
    padding: 0;
    /* eliminar márgenes predeterminados del navegador*/
    box-sizing: border-box;
    /* Asegura que el ancho y el alto incluyan borde y padding */
}

/* Global Styles */
img {
    max-width: 100%;
    /* La imagen nunca será más ancha que su contenedor */
    height: auto;
    /* Mantiene la proporción original de la imagen */
}

a {
    text-decoration: none;
    /* Elimina el subrayado */
    color: inherit;
    /* Hereda el color del texto del contenedor padre */
}

a:visited {
    color: inherit;
    /* Elimina el color de los enlaces visitados */
}

a:hover,
a:focus {
    text-decoration: none;
    /* Asegura que no se muestre subrayado al pasar el cursor */
    outline: none;
    /* Opcional: elimina el borde por foco */
}

body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    background-color: #000000;
    color: #FFFFFF;
    cursor: url('../img/cursor.cur'), auto;
}

a {
    cursor: url('../img/cursor.cur'), pointer;
}

button {
    cursor: url('../img/cursor.cur'), pointer !important;
}

img {
    cursor: url('../img/cursor.cur'), pointer !important;
}

/* Hacer que html y body ocupen toda la altura del viewport */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Utility Classes */
.mt-64 {
    margin-top: 64px;
}

.mt-72 {
    margin-top: 72px;
}

/* Header Styles */
.header {
    width: 100%;
    height: auto;
    position: relative;
}

.header-content {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo img {
    width: 120px;
    height: auto;
}

/* Botón del menú hamburguesa */
.hamburger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.3s ease;
}

/* Cambiar a "X" */
.hamburger-menu.open {
    transform: rotate(100deg);
    /* Opcional para animar */
    color: #ffffff;
    /* Cambia el color o personaliza como desees */
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
    margin: 8px;
}

a.header-link:hover {
    color: #BCBCBC;
}

/* Separator */
.sepator-blank {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

/* Content Styles */
.content {
    padding: 0px 160px;
    margin-top: 40px;
    flex: 1;
    /* Crece para ocupar todo el espacio disponible */
}

/* Card Styles */
.space-card {
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    /* Activa Flexbox */
    gap: 50px;
    /* Espacio horizontal entre elementos */
}

.card {
    width: 40%;
    display: flex;
    align-items: center;
}

.card-title {
    font-size: 40px;
}

.card-body {
    margin-top: 16px;
    width: 360px;
    color: #F2F2F2;
}

.card-button {
    margin-top: 24px;
    width: 232px;
    height: 48px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    display: flex;
    /* Usamos Flexbox para centrar el contenido */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    text-align: center;
    /* Asegura que el texto dentro del <a> esté centrado */
}

.card-image {
    width: 640px;
    height: auto;
}

.card-image img {
    border-radius: 16px;
}

/* Gallery Styles */
.gallery-title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    /* Activamos Grid Layout */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* 3 columnas responsive */
    gap: 10px;
    /* Espacio entre las imágenes */
    margin-top: 40px;
    /* Separación respecto al título */
}

.gallery img {
    width: 152px;
    /* Escalar las imágenes al tamaño del contenedor */
    height: auto;
    /* Altura fija para las imágenes */
    object-fit: cover;
    /* Recorta la imagen para que encaje en el espacio */
    border-radius: 8px;
    /* Esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra ligera */
    transition: transform 0.3s ease;
    /* Suaviza la transición al escalar */
}

/* Efecto de hover en la imagen */
.gallery-image:hover img {
    transform: scale(2.5);
}

.gallery-description {
    margin-top: 32px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/* Footer Styles */
.footer {
    width: 100%;
    height: auto;
    /* Ajusta la altura según el contenido */
    margin-top: 40px;
    padding: 20px 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección del flujo a columna */
    justify-content: center;
    /* Centra los hijos verticalmente */
    align-items: center;
    /* Centra los hijos horizontalmente */
    text-align: center;

}

.footer-links {
    color: #7A7A7A;
    font-size: 16px;
    width: auto;
    height: 32px;
    display: inline-block;
    position: relative;

}

.footer-links a {
    margin: 16px;
    font-weight: bolder;
}

.footer-links a {
    margin: 16px;
    font-weight: bolder;
    position: relative;
    /* Necesario para posicionar el pseudo-elemento */
}

.footer-links a::after {
    content: "";
    /* Crea el separador */
    display: inline-block;
    width: 1px;
    /* Grosor de la línea */
    height: 80%;
    /* Ajusta el alto de la línea según tus necesidades */
    background-color: #ccc;
    /* Color gris del separador */
    position: absolute;
    top: 10%;
    /* Centra verticalmente */
    right: -24px;
    /* Ajusta la posición del separador */
}

.footer-links a:last-child::after {
    display: none;
    /* Elimina el separador después del último enlace */
}

.footer-info {
    font-weight: bolder;
    font-size: 16px;
    margin-top: 18px;
    color: #7A7A7A;
}

/* Gallery Styles Characters */
.gallery-characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas de igual ancho */
    gap: 20px;
    /* Espacio entre los elementos */
    margin-top: 40px;
    justify-items: center;
    /* Centra los elementos horizontalmente */
    text-align: center;
    /* Centra los textos debajo de las imágenes */
}

.character {
    display: flex;
    flex-direction: column;
    /* Apila la imagen y el texto verticalmente */
    align-items: center;
    cursor: pointer;
}

.character img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

/* Efecto de hover en la imagen */
.character:hover img {
    transform: scale(1.1);
}

.character-name {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #F2F2F2;
    /* Ajusta el color según el diseño */
}

/* History Styles */
.history {
    width: 70%;
    color: #d0d0d0;
}

.history a {
    color: #FFFFFF;
    text-decoration: underline;
}

/* Estilo del sumario */
.summary {
    position: sticky;
    /* Fijo mientras se desplaza */
    top: 0;
    /* Distancia desde la parte superior de la ventana */
    padding: 16px;
    /* background-color: #fff; */
    /* Fondo blanco para que no se mezcle con el contenido al desplazarse */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra para dar contraste al menú fijo */
    z-index: 10;
    /* Prioridad para superponerlo sobre otros elementos */
    height: 250px;
}

.summary a {
    margin-top: 10px;
    display: block;
    color: #9b9b9b;
    font-size: 16px;
    text-decoration: none;
}

.summary a:hover {
    color: #BCBCBC;
}

/* Map Styles  */

/* Asegurar que el contenedor ocupa toda la pantalla excepto el header y footer */
.content-map {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* Ajustar el tamaño del mapa al contenedor */
#map {
    width: 100vw;
    height: 100vh;
    background: #000000;
}

/* Carta de información */
.info-card {
    position: absolute;
    left: 25%;
    /* Centra la tarjeta dentro del mapa */
    transform: translateX(-50%);
    /* Asegura que esté realmente centrada */
    width: 90%;
    /* Ocupará casi todo el ancho en móviles */
    max-width: 350px;
    /* No será demasiado grande en pantallas grandes */
    background: rgba(1, 1, 1, 0.707);
    padding: 15px;
    border-radius: 8px;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: justify;
    color: #d0d0d0;
}

/* Boton para volver al mapa principal */
.back-button {
    position: absolute;
    bottom: 20px;
    left: 83%;
    transform: translateX(-50%);
    padding: 10px 15px;
    color: white;
    background: rgba(1, 1, 1, 0.833);  /* Fondo transparente */
    border: 2px solid white;  /* Borde blanco */
    border-radius: 8px;  /* Esquinas redondeadas */
    cursor: pointer;
    display: none;
    z-index: 1000;
    /* Asegura que esté por encima del mapa */
}

.leaflet-marker-icon,
.leaflet-interactive {
    cursor: url('../img/cursor.cur'), pointer;
}

/* Responsividad */
@media (max-width: 1200px) {

    /* Card Styles */
    .card {
        width: 60%;
    }

    /* Gallery Styles */
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Exactamente 3 columnas */
        grid-auto-rows: auto;
        /* Ajusta automáticamente la altura de las filas */
        gap: 10px;
        /* Espacio entre columnas y filas */
        margin-top: 40px;
        justify-items: center;
        /* Centra horizontalmente los elementos */
        align-items: center;
        /* Centra verticalmente los elementos */
    }

    .gallery img {
        width: 250px;
        /* Escalar las imágenes al tamaño del contenedor */
        height: auto;
        /* Altura fija para las imágenes */
        object-fit: cover;
        /* Recorta la imagen para que encaje en el espacio */
        border-radius: 8px;
        /* Esquinas redondeadas */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        /* Sombra ligera */
        transition: transform 0.3s ease;
        /* Suaviza la transición al escalar */
    }

    /* Efecto de hover en la imagen */
    .gallery-image:hover img {
        transform: scale(1.5);
    }

    /* Gallery Styles Characters */
    .gallery-characters {
        grid-template-columns: repeat(3, 1fr);
        /* Tres columnas */
        gap: 30px;
    }

    /* History Styles */
    .history {
        width: 100%;
    }

    .summary {
        display: none;
    }

    /* Map Styles */
    .info-card {
        width: 60%;
        /* En pantallas grandes, la tarjeta será más pequeña */
        left: 10%;
        /* Se ubicará en la parte izquierda del mapa */
        transform: none;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {

    /* Content Styles */
    .content {
        padding: 25px;
        margin-top: 0px;
    }

    /* Card Styles */
    .space-card {
        display: block;
    }

    .card {
        width: 100%;
    }

    .card-body {
        width: 100%;
    }

    .card-image {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }

    /* Map Styles */
    .info-card {
        width: 60%;
        /* En pantallas grandes, la tarjeta será más pequeña */
        left: 10%;
        /* Se ubicará en la parte izquierda del mapa */
        transform: none;
    }
}

@media (max-width: 800px) {

    /* Header Styles */
    .header-content {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger-menu {
        display: block;
    }

    .header-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #000000;
        padding: 16px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;

    }

    .header-links.open {
        display: flex;
    }

    .header-link {
        margin: 8px 16px;
    }

    /* Content Styles */
    .content {
        padding: 25px;
        margin-top: 0px;
    }

    /* Card Styles */
    .space-card {
        display: block;
    }

    .card {
        width: 100%;
    }

    .card-body {
        width: 100%;
    }

    .card-image {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }

    /* Gallery Styles */
    .gallery {
        grid-template-columns: 1fr;
        /* Una sola columna */
    }

    .gallery img {
        width: 100%;
        height: auto;
    }

    .gallery-image:hover img {
        transform: none;
    }

    .gallery-description {
        font-size: 16px;
    }

    /* Footer Styles */
    .footer {
        width: 100%;
        height: auto;
    }

    .footer-links {
        display: none;
    }

    /* Gallery Styles Characters */
    .gallery-characters {
        grid-template-columns: repeat(2, 1fr);
        /* Dos columnas */
    }

    /* History Styles */
    .history {
        width: 100%;
    }

    .summary {
        display: none;
    }
}